@import '@styles/common';

a{
    text-decoration: none !important;
    color: white !important;
    @include flex-row;
    gap: 6px;
    align-items: center;
    @include font-style($font-size-xs, $font-weight-regular, normal);

    &.hidden{
        display: none;
    }
}