@use '@styles/colors';
@use '@styles/common';

.section-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    font-weight: 400;

    &.section-title--center{
        align-items: center;
        margin: 40px auto;
    }

    &.section-title--left{
        align-items: flex-start;
        margin: 0 0 24px 0;
    }

    &__note{
        color: colors.$ocher;
        font-size: 16px;
    }

    &__main{
        color: colors.$grey;
        font-size: 32px;
    }

    @media screen and (max-width: common.$smallScreenLimit) {
        width: 300px;

        &__main{
            font-size: 24px;
        }
    }
}