@import '@styles/common';

.section-title{
    max-width: 600px;
    $font-weight-regular: 400;

    &.section-title--center{
        @include flex-container(column, center, center);
        margin: 40px auto;
    }

    &.section-title--left{
        @include flex-container(column, center, flex-start);
        margin: 0 0 24px 0;
    }

    &__note{
        color: $ocher;
        font-size: $font-size-xs;
    }

    &__main{
        color: $grey;
        font-size: $font-size-xl;
    }

    @media screen and (max-width: $smallScreenLimit) {
        width: 300px;

        &__main{
            font-size: $font-size-l;
        }
    }
}