@use '@styles/colors';

.artwork-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 26.3px;
    padding: 16px;
    gap: 16px;

    &__image{
        width: 80px;
        height: 80px;
        font-size: 12px;
        line-height: 14px;
        object-fit: cover;
    }

    &__info{
        z-index: 2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: colors.$white;

        &__title{
            color: colors.$grey;
            font-size: 17.5px;
            font-weight: 500;
            white-space: nowrap; 
            overflow: hidden; 
            text-overflow: ellipsis; 
            max-width: 200px;
        }

        &__author{
            color: colors.$ocher;
            font-size: 15.35px;
            font-weight: 400;
            white-space: nowrap; 
            overflow: hidden; 
            text-overflow: ellipsis; 
            max-width: 200px;
        }

        &__description{
            color: colors.$grey;
            font-size: 15.35px;
            font-weight: 700;
            margin-top: 16px;
        }

        &__favorite{
            border-radius: 50%;
            background-color: colors.$lightGrey;
            height: 59px;
            width: 59px;
            padding: 17px;
            box-sizing: border-box;
            font-size: 12px;
        }

        &__favorite.active{
            background-color: colors.$lightOrange;
            opacity: 0.3;
        }
    }

}

.artwork-card__wrapper{
    position: relative;
    max-width: 415px;
    width: 380px;

    &.large {
        height: 444px;

        .artwork-card{
            height: 100%;

            &__image {
                position: absolute;
                width: 100%;
                height: 85%;
                top: 0;
                left: 0;
            }
    
            &__info{
                padding: 24px 32px;
                margin: 0 5%;
                width: 90% !important;
                box-sizing: border-box;
                position: absolute;
                bottom: 0;
                left: 0;
                border: solid 1px colors.$lightGrey;
                width: 285px;
                gap: 24px;
            }
        }
    }

    &.small {
        height: 130px;
        width: 415px;

        .artwork-card{
            background-color: colors.$white;

            &__info{
                gap: 16px;
                width: 288px;
            }
        }
    }
}

.column{
    display: flex;
    flex-direction: column;
}