@use '@styles/common';

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    width: fit-content;
    margin: auto;

    &__empty-result{
        text-align: center;
        width: 100%;
    }

    @media screen and (max-width: common.$largeScreenLimit) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: common.$mediumScreenLimit) {
        grid-template-columns: repeat(1, 1fr);
    }

    @media screen and (max-width: common.$smallScreenLimit) {
        width: 100%;
    }
}