@import '@styles/common';

.favorite-icon{
    border-radius: 50%;
    background-color: $lightGrey;
    height: 59px;
    width: 59px;
    padding: 17px;
    box-sizing: border-box;
    @include font-style($font-size-xxxs, $font-weight-regular);

    &.favorite-icon--active{
        background-color: $transparentOrange;
    }
}