@import '@styles/common';

.page-title{
    max-width: 680px;
    margin: 96px auto;
    color: $grey;
    @include font-style($font-size-xxl, $font-weight-bold, 80px);
    text-transform: capitalize;
    text-align: center;

    .page-title--highlighted{
        color: $orange;
    }

    @media screen and (max-width: $smallScreenLimit) {
        width: 300px;
        margin: 48px auto;
        @include font-style($font-size-xl, $font-weight-bold, 40px);
    }
}