@use '@styles/colors';

.page-title{
    max-width: 680px;
    margin: 96px auto;
    color: colors.$grey;
    font-size: 64px;
    line-height: 80px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;

    .page-title--highlighted{
        color: colors.$orange;
    }
}