@use '@styles/colors';
@use '@styles/common';

.page-title{
    max-width: 680px;
    margin: 96px auto;
    color: colors.$grey;
    font-size: 64px;
    line-height: 80px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;

    .page-title--highlighted{
        color: colors.$orange;
    }

    @media screen and (max-width: common.$smallScreenLimit) {
        width: 300px;
        line-height: 40px;
        font-size: 32px;
        margin: 48px auto;
    }
}