@import '@styles/common';

.painting{
    height: 570px;
    @include flex-row;
    gap: 72px;
    margin: 120px auto;
    position: relative;

    &__image-wrapper{
        position: relative;
    }

    &__image{
        width: 500px;
        height: 100%;
        object-fit: cover;
    }

    &__favorite{
        position: absolute;
        right: 16px;
        top: 16px;
        z-index: 2;
    }

    &__info{
        text-align: left;
        @include flex-container(column, space-between, flex-start);

        &__artist{
            @include font-style($font-size-l, $font-weight-regular, normal);
            color: $ocher;
            margin-bottom: 16px;
        }

        &__date{
            @include font-style($font-size-xs, $font-weight-bold, normal);
            color: $grey;
        }
    }

    @media screen and (max-width: $mediumScreenLimit) {
        height: unset;
        @include flex-column;
        gap: 48px;

        &__image{
            width: 100%;
        }

        &__info{
            gap: 48px;
        }
    }
}