@use '@styles/fonts';

$largeScreenLimit: 1320px;
$mediumScreenLimit: 900px;
$smallScreenLimit: 600px;

$globalPadding: 20px;

body{
    font-family: 'LexendDeca';
    margin: 0;
}

h1, h2, h3, h4, h5, h6,p{
    margin: 0;
    padding: 0;
}

.section{
    margin: 112px 0;

    @media screen and (max-width: #{$smallScreenLimit}) {
        margin: 60px 0;
    }
}

.content__wrapper {
    max-width: calc(#{$largeScreenLimit} - #{$globalPadding} * 2);
    margin: auto;

    @media screen and (max-width: #{$largeScreenLimit}) {
        max-width: calc(#{$mediumScreenLimit} - #{$globalPadding} * 2); 
    }

    @media screen and (max-width: #{$mediumScreenLimit}) {
        max-width: calc(100vw - #{$globalPadding} * 2); 
    }
}