@font-face {
    font-family: 'LexendDeca';
    src: url('../assets/fonts/LexendDeca/LexendDeca-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 400 500 600 700; 
    font-style: normal;
}
