@use '@styles/colors';
@use '@styles/common';

.layout{
    background-color: colors.$lightGrey;

    .wrapper{
        min-height: calc(100vh - 370px);

        @media screen and (max-width: common.$smallScreenLimit) {
            min-height: calc(100vh - 250px);
        }
    }
}