@import '@styles/common';

.layout{
    background-color: $lightGrey;

    .wrapper{
        min-height: calc(100vh - 370px);

        @media screen and (max-width: $smallScreenLimit) {
            min-height: calc(100vh - 250px);
        }
    }
}