@import '@styles/common';

.gallery{
    @include flex-container(row, flex-start, flex-start);
    margin: 30px auto;
    gap: 70px;
    width: fit-content;

    &__empty-result{
        text-align: center;
        width: 100%;
    }

    @media screen and (max-width: $largeScreenLimit) {
        gap: 80px;
    }

    @media screen and (max-width: $smallScreenLimit) {
        width: 100%;
        gap: 0;
    }
}