@use '@styles/common';

.gallery{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 30px auto;
    gap: 70px;
    width: fit-content;

    &__empty-result{
        text-align: center;
        width: 100%;
    }

    @media screen and (max-width: common.$largeScreenLimit) {
        gap: 80px;
    }
}