.header{
    height: 128px;
    width: 100%;
    background: linear-gradient(90deg, #343333 17%, #484848 59%, #282828 99%);

    &__wrapper{
        max-width: 1280px;
        padding: 32px 0;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__nav{
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
}