@use '@styles/common';

.header{
    height: 127px;
    width: 100%;
    background: linear-gradient(90deg, #343333 17%, #484848 59%, #282828 99%);

    &__wrapper{
        padding: 32px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__nav{
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    &__burger-menu {
        display: none;
        cursor: pointer;
    
        &__line {
          width: 25px;
          height: 2px;
          background-color: white;
          margin: 4px 0;
          transition: all 0.3s ease;
        }
    }

    @media screen and (max-width: common.$smallScreenLimit) {
        height: 96px;

        &__wrapper{
            padding: 24px 0;
        }

        &__logo{
            width: 150px;
        }

        &__nav {
            display: none;
            flex-direction: row;
            justify-content: space-around;
            background: linear-gradient(90deg, #343333 17%, #484848 59%, #282828 99%);
            padding: 10px;
            position: absolute;
            top: 92px;
            left: 0;
            width: 100%;
      
            .nav-item {
              margin: 10px 0;
            }
        }
      
        &__nav.open {
            display: flex;
        }

        &__burger-menu {
            display: block;
        }
    }
}