@import '@styles/common';

.footer{
    height: 127px;
    width: 100%;
    background-color: $white;

    &__wrapper{
        padding: 32px 0;
        @include flex-container;
    }

    @media screen and (max-width: $smallScreenLimit) {
        height: 96px;

        &__wrapper{
            padding: 24px 0;
        }

        img{
            width: 150px;
        }
    }
    
}