@import '@styles/common';

.description-item {
    margin-top: 16px;
    @include font-style($font-size-xs, $font-weight-regular, 20px);

    &__category{
        color: $ocher;
        margin-right: 4px;
    }

    &__value{
        color: $grey;
    }
}
