@use '@styles/colors';

.description-item {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    &__category{
        color: colors.$ocher;
        margin-right: 4px;
    }

    &__value{
        color: colors.$grey;
    }
}
